<h1>Rock, Paper, or Scissors?</h1>
<a href="/rps/result?user=rock"><img src=<%= @rock_image_url %>></a>
<a href="/rps/result?user=paper"><img src=<%= @paper_image_url %>></a>
<a href="/rps/result?user=scissors"><img src=<%= @scissors_image_url %>></a>
