<h1><%= @title %></h1>

<h2>User: <%= @user_choice %><br>
Computer: <%= @computer_choice %><br>
Winner:<br> <img src=<%= @winning_image %>></h2>

<form action="/rps">
<button>Play Again?</button>
</form>